.form-container {

}

.form-container > .form-container__presentation {
  border-bottom: 1px solid var(--bw-color-gray-30);
  margin-bottom: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.form-container > .form-container__presentation > h3 {
  font-family: 'Darker Grotesque';
}


