.form-container {
  border-radius: 2px;
  box-shadow: var(--box-shadow-form);
  padding: 40px 24px;
}

.form-container > .form-container__presentation {
  border-bottom: 1px solid var(--bw-color-gray-30);
  margin-bottom: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.form-container > .form-container__presentation > p {
  color: var(--bw-color-gray-70);
  margin-top: 16px;
}

.form-container > form > p {
  margin-bottom: 16px;
}

.form-container > form > custom-button {
  width: 100%;
}
