.header {
  /* display: none; */
  border-bottom: 1px solid var(--bw-color-gray-30);
}

.header > .header__container {
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  margin: auto;
  max-width: var(--max-width);
  padding: 24px 16px;
}

.header > .header__container {
  align-items: center;
  display: flex;
}

.header > .header__container > .header-logo {
  height: 100%;
}

@media (min-width: 768px) {
  .header {
    display: block;
  }

  .header > .header__container {
    padding: 24px 0;
  }
}