@import url('./css/header.css');
@import url('./css/footer.css');
@import url('./css/form.css');
@import url('./css/hero.css');
@import url('./css/together.css');
@import url('./css/list.css');
@import url('./css/benefits.css');
@import url('./css/demo.css');

:root {
  --box-shadow-inset: #EEFBFB;
  --box-shadow-form: 0px 4px 12px rgba(33, 36, 41, 0.14);

  --color-primary-100: #0B485B;
  --color-primary-60: #19C1CE;
  --color-primary-50: #07E5EB;
  --color-primary-40: #78EDF2;

  --color-highlight-60: #F2BF4E;
  --color-highlight-50: #F4CA6D;

  --bw-color-black: #000000;
  --bw-color-gray-100: #212429;
  --bw-color-gray-70: #7E8A98;
  --bw-color-gray-60: #97A1AC;
  --bw-color-gray-30: #CFD3D8;
  --bw-color-gray-10: #F1F3F5;
  --bw-color-white: #FFFFFF;

  --font-bold-family: 'Darker Grotesque', sans-serif;
  --font-light-family: 'Nunito Sans', sans-serif;

  --max-width: 1224px;

  --header-height: 80px;
}

/* Normalizing */
* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--bw-color-gray-100);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-light-family);
}

main {
  padding: 40px 0;
  position: relative;
}

input[type="radio"] {
  cursor: pointer;
}

a {
  color: var(--bw-color-gray-100);
}

hr {
  border: 1px solid var(--color-primary-40);
  margin: 24px 0;
}

.heading-lg {
  font-family: var(--font-bold-family);
  font-size: 40px;
  font-weight: 900;
  line-height: 100%;
}

.heading-md {
  font-family: var(--font-bold-family);
  font-size: 32px;
  font-weight: 900;
  line-height: 100%;
}

.heading-sm {
  font-family: var(--font-bold-family);
  font-size: 24px;
  font-weight: 900;
  line-height: 110%;
}

.heading-xs {
  font-family: var(--font-bold-family);
  font-size: 20px;
  font-weight: 800;
  line-height: 110%;
}

.subtitle-sm {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.subtitle-xs {
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

.body-lg {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.body-lg-bold {
  font-weight: 700;
  line-height: 150%;
}

.body-md {
  font-weight: 400;
  line-height: 150%;
}

.body-md-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.body-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.body-sm-bold {
  font-weight: 700;
  line-height: 150%;
}

.display-md-none {
  display: none;
}

.display-md-block {
  display: block;
}

.display-md-flex {
  display: flex;
}

.row {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  margin: auto 16px;
  max-width: var(--max-width);
}

.row > .col-1 {
  grid-column: span 1;
}

.row > .col-2 {
  grid-column: span 2;
}

.row > .col-3 {
  grid-column: span 3;
}

.row > .col-4 {
  grid-column: span 4;
}

.row > .col-5 {
  grid-column: span 5;
}

.row > .col-6 {
  grid-column: span 6;
}

.row > .col-7 {
  grid-column: span 7;
}

.row > .col-8 {
  grid-column: span 8;
}

.row > .col-9 {
  grid-column: span 9;
}

.row > .col-10 {
  grid-column: span 10;
}

.row > .col-11 {
  grid-column: span 11;
}

.row > .col-12 {
  grid-column: span 12;
}

@media (min-width: 768px) {
  .heading-lg {
    font-size: 56px;
  }
  
  .heading-md {
    font-size: 40px;
  }
  
  .heading-sm {
    font-size: 32px;
  }
  
  .heading-xs {
    font-size: 24px;
  }
  
  .subtitle-sm {
    font-size: 20px;
  }

  .display-lg-none {
    display: none;
  }

  .display-lg-block {
    display: block;
  }

  .display-lg-flex {
    display: flex;
  }

  .row {
    margin: auto;
  }

  .row > .col-lg-1 {
    grid-column: span 1;
  }
  
  .row > .col-lg-2 {
    grid-column: span 2;
  }
  
  .row > .col-lg-3 {
    grid-column: span 3;
  }
  
  .row > .col-lg-4 {
    grid-column: span 4;
  }
  
  .row > .col-lg-5 {
    grid-column: span 5;
  }
  
  .row > .col-lg-6 {
    grid-column: span 6;
  }
  
  .row > .col-lg-7 {
    grid-column: span 7;
  }
  
  .row > .col-lg-8 {
    grid-column: span 8;
  }
  
  .row > .col-lg-9 {
    grid-column: span 9;
  }
  
  .row > .col-lg-10 {
    grid-column: span 10;
  }
  
  .row > .col-lg-11 {
    grid-column: span 11;
  }
  
  .row > .col-lg-12 {
    grid-column: span 12;
  }
}
