:host {
  display: inline-block;
  position: relative;
}

:host > button {
  align-items: center;
  background-color: var(--bw-color-white);
  border: none;
  color: var(--bw-color-gray-100);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 800;
  height: 36px;
  justify-content: center;
  padding: 0 16px;
  position: relative;
  text-transform: uppercase;
  transition: transform .2s ease;
  transform: translateY(0);
  width: 100%;
  z-index: 1;
}

:host > button ~ div {
  background-color: var(--bw-color-black);
  clip-path: polygon(0 0, 100% 0, 92.75% 100%, 7.25% 100%);
  height: 4px;
  position: absolute;
  inset: 0;
  transition: clip-path .2s ease;
  top: 36px;
  width: 100%;
}

:host > button:active ~ div {
  clip-path: polygon(0 100%, 100% 100%, 92.75% 100%, 7.25% 100%);
}

:host([primary]) > button {
  background-color: var(--color-primary-60);
  border: 2px solid var(--color-primary-60);
}

:host([primary]) > button:hover {
  background-color: var(--color-primary-50);
  border-color: var(--color-primary-50);
}

:host([highlight]) > button {
  background-color: var(--color-highlight-60);
  border: 2px solid var(--color-highlight-60);
}

:host([highlight]) > button:hover {
  background-color: var(--color-highlight-50);
  border-color: var(--color-highlight-50);
}

:host([secondary]) > button {
  border: 2px solid var(--bw-color-gray-100);
}

:host([secondary]) > button:hover {
  background-color: var(--bw-color-gray-70);
}

:host > button:active {
  transform: translateY(4px);
}
