:host {
  align-items: center;
  background-color: var(--bw-color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  top: var(--header-height);
  width: 100%;
  /* display: none; */
}

:host > nav > ul {
  align-items: center;
  display: inline-flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

:host > nav > ul > li {
  padding-top: 16px;
  list-style: none;
}

:host > .header__container__buttons > :first-child {
  margin-right: 16px;
}

@media (min-width: 768px) {
  :host {
    justify-content: flex-end;
    flex-direction: row;
    position: initial;
  }

  :host > nav {
    margin-right: 62px;
  }

  :host > nav > ul {
    flex-direction: row;
    gap: 62px;
  }

  :host > nav > ul > li {
    padding-top: 0;
  }
}
