:host {
  position: absolute;
  left: 0;
  top: calc(var(--header-height) + 1px); /* cálculo pra mostrar a borda debaixo */
  width: 100%;
  /* display: none; */
}

:host > nav {
  margin: 24px 0;
}

:host > nav > ul {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: stretch;
  margin: 0 16px;
  padding: 0;
}

:host > nav > ul > li {
  border-bottom: 1px solid var(--bw-color-gray-30);
  padding: 16px 0;
  list-style: none;
  width: 100%;
}

:host > nav > ul > li:last-of-type {
  border-bottom: none;
}

:host > .header__container__buttons {
  border-top: 1px solid var(--bw-color-gray-30);
  background-color: var(--bw-color-gray-10);
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

:host > .header__container__buttons > :first-child {
  margin-right: 16px;
}

@media (min-width: 768px) {
  :host {
    align-items: center;
    background-color: var(--bw-color-white);
    display: flex;
    justify-content: flex-end;
    position: initial;
  }

  :host > nav {
    margin: 0 62px 0 0;
  }

  :host > nav > ul {
    flex-direction: row;
    gap: 62px;
    margin: 0;
  }

  :host > nav > ul > li {
    border-bottom: none;
    padding: 0;
  }

  :host > .header__container__buttons {
    border-top: none;
    background-color: var(--bw-color-white);
    display: block;
    padding: 0;
  }
}
