:host {
  display: none;
}

:host > nav {
  margin-right: 62px;
}

:host > nav > ul {
  align-items: center;
  height: 100%;
  display: inline-flex;
  gap: 62px;
}

:host > nav > ul > li {
  list-style: none;
}

:host > .header__container__buttons > :first-child {
  margin-right: 16px;
}

@media (min-width: 768px) {
  :host {
    align-items: center;
    display: flex;
  }
}
